Repository whitebox-co/amazon-ads-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

chore: update auto generated api
  docs/schemas/authorization-profiles.json
  docs/schemas/common-audiences.json
  docs/schemas/common-eligibility.json
  docs/schemas/common-product-meta-data.json
  docs/schemas/dsp-measurement.json
  docs/schemas/dsp.json
  docs/schemas/sponsored-brands-extra.json
  docs/schemas/sponsored-brands-pre-moderation.json
  docs/schemas/sponsored-brands.json
  docs/schemas/sponsored-display-extra.json
  docs/schemas/sponsored-display.json
  docs/schemas/sponsored-products-extra.json
  docs/schemas/sponsored-products.json
  src/apis/clients/common-eligibility-client.ts
  src/apis/clients/dsp-client.ts
  src/apis/clients/sponsored-brands-extra-client.ts
  src/apis/clients/sponsored-display-client.ts
  src/apis/clients/sponsored-display-extra-client.ts
  src/apis/clients/sponsored-products-extra-client.ts
  src/apis/models/common-eligibility.ts
  src/apis/models/common-product-meta-data.ts
  src/apis/models/dsp-measurement.ts
  src/apis/models/dsp.ts
  src/apis/models/sponsored-brands-extra.ts
  src/apis/models/sponsored-brands-pre-moderation.ts
  src/apis/models/sponsored-brands.ts
  src/apis/models/sponsored-display-extra.ts
  src/apis/models/sponsored-display.ts
  src/apis/models/sponsored-products-extra.ts
Due: none

chore(dev-deps): bumping deps to get package back in working order
  .nvmrc
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier-package-json --write --expand-users

fix: adding skipLibCheck to fix failing lib build
  tsconfig.json
Due: none

fix: running npm audit fix to update package-lock issues
  package-lock.json
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  757caf2865692e7d1eb05a97436c42265c317542
Due: none

chore(deps): fixing linting issues with dep upgrade
  tests/unit/utils/model-generator.test.ts
  tests/unit/utils/schema-downloader.test.ts
Due: none

chore(deps): final dep update
  tests/unit/src/helpers.test.ts
Due: none

Path conditions:
  eslint --cache --fix: any of: *.(js|ts)
  markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./: any of: *.md
  prettier --write: any of: *.md
  prettier-package-json --write --expand-users: any of: package.json
