Repository whitebox-co/amazon-ads-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

chore: update auto generated api
  docs/schemas/brand-metrics.json
  docs/schemas/data-provider.json
  docs/schemas/dsp-measurement.json
  docs/schemas/dsp.json
  docs/schemas/sponsored-products-extra.json
  src/apis/models/brand-metrics.ts
  src/apis/models/data-provider.ts
  src/apis/models/dsp-measurement.ts
  src/apis/models/dsp.ts
  src/apis/models/sponsored-products-extra.ts
Due: none

chore: updating .env.example with better comments
  .env.example
  .gitignore
Due: none

chore: removing `pino` dep as it is not used anywhere
  package-lock.json
  package.json
Due: prettier-package-json --write --expand-users

feat: auto-generated amazon api updates to brand, data, dsp, and sponsored-products
  docs/schemas/brand-metrics.json
  docs/schemas/data-provider.json
  docs/schemas/dsp-measurement.json
  docs/schemas/dsp.json
  docs/schemas/sponsored-products-extra.json
  src/apis/models/brand-metrics.ts
  src/apis/models/data-provider.ts
  src/apis/models/dsp-measurement.ts
  src/apis/models/dsp.ts
  src/apis/models/sponsored-products-extra.ts
  src/constants.ts
  utils/schema-downloader.ts
Due: none

test: fixing broken test
  tests/unit/src/constants.test.ts
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  3b3608057731f03780865aa1b9359ee364b75c72
Due: none

chore: update auto generated api
  docs/schemas/common-localization.json
  docs/schemas/common-product-meta-data.json
  docs/schemas/dsp-measurement.json
  docs/schemas/dsp.json
  docs/schemas/sponsored-brands-extra.json
  docs/schemas/sponsored-brands-pre-moderation.json
  docs/schemas/sponsored-brands.json
  docs/schemas/sponsored-display.json
  docs/schemas/sponsored-products-extra.json
  docs/schemas/sponsored-products.json
  src/apis/clients/dsp-client.ts
  src/apis/models/common-localization.ts
  src/apis/models/common-product-meta-data.ts
  src/apis/models/dsp-measurement.ts
  src/apis/models/dsp.ts
  src/apis/models/sponsored-brands-extra.ts
  src/apis/models/sponsored-brands-pre-moderation.ts
  src/apis/models/sponsored-brands.ts
  src/apis/models/sponsored-display.ts
  src/apis/models/sponsored-products-extra.ts
  src/apis/models/sponsored-products.ts
Due: none

feat: configuration and adsapi constructor now take a bottleneck limiter as an optional param
  src/config.ts
  src/index.ts
Due: none

feat: auto generated updates based on latest amazon schema changes
  docs/schemas/common-localization.json
  docs/schemas/common-product-meta-data.json
  docs/schemas/dsp-measurement.json
  docs/schemas/dsp.json
  docs/schemas/sponsored-brands-extra.json
  docs/schemas/sponsored-brands-pre-moderation.json
  docs/schemas/sponsored-brands.json
  docs/schemas/sponsored-display.json
  docs/schemas/sponsored-products-extra.json
  docs/schemas/sponsored-products.json
  src/apis/clients/dsp-client.ts
  src/apis/models/common-localization.ts
  src/apis/models/common-product-meta-data.ts
  src/apis/models/dsp-measurement.ts
  src/apis/models/dsp.ts
  src/apis/models/sponsored-brands-extra.ts
  src/apis/models/sponsored-brands-pre-moderation.ts
  src/apis/models/sponsored-brands.ts
  src/apis/models/sponsored-display.ts
  src/apis/models/sponsored-products-extra.ts
  src/apis/models/sponsored-products.ts
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  0af357cf5116820b1d8db597b58fe8b93b96e813
Due: none

chore: update auto generated api
  docs/schemas/authorization-profiles.json
  docs/schemas/common-localization.json
  docs/schemas/dsp-measurement.json
  docs/schemas/sponsored-brands.json
  docs/schemas/sponsored-display.json
  docs/schemas/sponsored-products-extra.json
  src/apis/clients/sponsored-brands-client.ts
  src/apis/models/authorization-profiles.ts
  src/apis/models/common-localization.ts
  src/apis/models/dsp-measurement.ts
  src/apis/models/sponsored-brands.ts
  src/apis/models/sponsored-display.ts
  src/apis/models/sponsored-products-extra.ts
Due: none

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  d66db67ef8726af17d597bb0914c5bd9c1a00135
Due: none

fix: removing limiter id to avoid id collisions, limiter will assign its own ids
  src/helpers.ts
Due: none

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  dbdd307e3bfb659872af5cd0785a05b86732f872
Due: none

fix: retry refresh token logic was not properly awaited resulting in unhandled exceptions
  src/config.ts
  src/helpers.ts
  tests/integration/apis/example.spec.ts
Due: none

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  ad16b2f43c2dd3ee864f0042e3cc5893ff3ed765
Due: none

chore: update auto generated api
  docs/schemas/dsp-measurement.json
  docs/schemas/sponsored-brands.json
  src/apis/models/dsp-measurement.ts
  src/apis/models/sponsored-brands.ts
Due: none

feat: integration of latest amazon updates
  docs/schemas/dsp-measurement.json
  docs/schemas/sponsored-brands.json
  src/apis/models/dsp-measurement.ts
  src/apis/models/sponsored-brands.ts
Due: none

feat: adding agentkeepalive for req agents, adding timeouts and maxRedirects to axios instance
  package-lock.json
  package.json
  src/helpers.ts
Due: prettier-package-json --write --expand-users

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  70996e194cb69e71348f9bf432c4b687ba24c72d
Due: none

fix: make axiosInstance configurable and increase defaults
  src/config.ts
  src/helpers.ts
Due: none

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  5e65113c7fc8051e1d602682f5147086ae31474b
Due: none

fix: increasing timeouts as large report transfers exceed the 60s threshold
  src/helpers.ts
Due: none

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  6d900b8cee3489feb72e913caf08c8b2ba4b01ca
Due: none

chore: update auto generated api
  docs/schemas/data-provider.json
  docs/schemas/dsp-measurement.json
  docs/schemas/sponsored-display.json
  src/apis/models/dsp-measurement.ts
  src/apis/models/sponsored-display.ts
Due: none

feat: adding portfolios api and integrating new amazon changes
  docs/custom-schemas/common-portfolios.json
  docs/schemas.js
  docs/schemas/data-provider.json
  docs/schemas/dsp-measurement.json
  docs/schemas/sponsored-display.json
  package.json
  src/apis/clients/common-portfolios-client.ts
  src/apis/clients/index.ts
  src/apis/models/common-portfolios.ts
  src/apis/models/dsp-measurement.ts
  src/apis/models/sponsored-display.ts
  src/constants.ts
  tests/integration/apis/clients/authorization-manager-account-client.spec.ts
  tests/integration/apis/clients/authorization-profiles-client.spec.ts
  tests/integration/apis/clients/common-portfolios-client.spec.ts
  tests/integration/apis/clients/dsp-advertiser-client.spec.ts
  tests/unit/src/constants.test.ts
  tests/unit/utils/schema-downloader.test.ts
Due: prettier-package-json --write --expand-users

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  063f55b4276a299999421e1eeb401905f6600d1b
Due: none

Path conditions:
  eslint --cache --fix: any of: *.(js|ts)
  markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./: any of: *.md
  prettier --write: any of: *.md
  prettier-package-json --write --expand-users: any of: package.json
