Repository whitebox-co/amazon-ads-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

.lintstagedrc.json:

{
	"*.(js|ts)": ["eslint --cache --fix"],
	"*.md": ["markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./", "prettier --write"],
	"package.json": ["prettier-package-json --write --expand-users"]
}

test: adding initial unit tests
  package-lock.json
  package.json
  src/constants.ts
  tests/unit/src/constants.test.ts
  tests/unit/src/helpers.test.ts
  tests/unit/utils/api-generator.test.ts
  tests/unit/utils/bump-version.test.ts
  tests/unit/utils/check-for-changes.test.ts
  tests/unit/utils/client-generator.test.ts
  tests/unit/utils/model-generator.test.ts
  tests/unit/utils/schema-downloader.test.ts
  tests/unit/utils/util.test.ts
  utils/check-for-changes.ts
  utils/client-generator.ts
  utils/model-generator.ts
  utils/schema-downloader.ts
  utils/util.ts
Due: prettier-package-json --write --expand-users

docs: adding usage documentation and jsdocs where necessary
  README.md
  src/helpers.ts
  utils/api-generator.ts
  utils/check-for-changes.ts
  utils/client-generator.ts
  utils/model-generator.ts
  utils/schema-downloader.ts
  utils/test-generator.ts
  utils/util.ts
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write

chore: update auto generated api
  docs/schemas/authorization-profiles.json
  docs/schemas/sponsored-display.json
Due: none

feat: adding latest changes based on amazon schema changes
  docs/schemas/authorization-profiles.json
  docs/schemas/sponsored-display.json
  src/apis/models/authorization-profiles.ts
  src/apis/models/sponsored-display.ts
Due: none

fix: adding ability for generator to replace unknown_types so lint does not fail
  package-lock.json
  package.json
  tests/unit/utils/api-generator.test.ts
  tests/unit/utils/replace-unknown-types.test.ts
  utils/api-generator.ts
  utils/replace-unknown-types.ts
Due: prettier-package-json --write --expand-users

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write

Notes added by 'git notes add'
  4ad3ddaf70a2339cfe6515956537ee78fb13c7d2
Due: none

ci: adding flag for npm publishing of private project
  .github/workflows/release.yml
Due: none

docs: update maintanance and copywrite to 2022
  LICENSE
  README.md
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write

docs: corrected example env file
  .env.example
Due: none

docs: added the 5th missing env key
  package.json
Due: prettier-package-json --write --expand-users

docs: added script to run individual tests and updated docs
  README.md
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write

docs: added another missing env key
  .env.example
Due: none

chore: update auto generated api
  docs/schemas/authorization-profiles.json
  docs/schemas/data-provider.json
  docs/schemas/dsp.json
  docs/schemas/sponsored-brands.json
  docs/schemas/sponsored-products.json
Due: none

fix: fixed sponsored brand extra overriding sponsored brands resource
  docs/schemas.js
  docs/schemas/authorization-profiles.json
  docs/schemas/data-provider.json
  docs/schemas/dsp.json
  docs/schemas/sponsored-brands-extra.json
  docs/schemas/sponsored-brands.json
  docs/schemas/sponsored-products.json
  src/apis/clients/index.ts
  src/apis/clients/sponsored-brands-client.ts
  src/apis/clients/sponsored-brands-extra-client.ts
  src/apis/models/authorization-profiles.ts
  src/apis/models/data-provider.ts
  src/apis/models/dsp.ts
  src/apis/models/sponsored-brands-extra.ts
  src/apis/models/sponsored-brands.ts
  src/apis/models/sponsored-products.ts
  src/constants.ts
Due: none

feat!: changed sponsored brand to sponsored brand extra
  package.json
  src/constants.ts
  tests/integration/apis/clients/sponsored-brands-client.spec.ts
  tests/integration/apis/clients/sponsored-brands-extra-client.spec.ts
  utils/payload-interceptors.ts
Due: prettier-package-json --write --expand-users

test: fixed failing constants test
  tests/unit/src/constants.test.ts
Due: none

chore: update auto generated api
  docs/schemas/attribution.json
  docs/schemas/authorization-profiles.json
  docs/schemas/data-provider.json
  docs/schemas/dsp.json
  docs/schemas/sponsored-brands.json
  docs/schemas/sponsored-products-extra.json
  docs/schemas/sponsored-products.json
Due: none

test: started adding testing for sponsored campaign creations resolved conflict with sponsored-brand-client tests
  tests/integration/apis/clients/sponsored-display-client.spec.ts
  tests/integration/apis/clients/sponsored-products-client.spec.ts
  utils/payload-interceptors.ts
Due: none

test: added test to verify a response is returned from amazon for each api call
  tests/integration/apis/clients/sponsored-products-client.spec.ts
Due: none

test: added all required parameters in order to succesfully create a campaign
  tests/integration/apis/clients/sponsored-products-client.spec.ts
Due: none

docs(readme): cleaning up spelling mistakes and moving one known issue to github issues
  .vscode/settings.json
  README.md
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write

feat(attribution): amazon schema changes
  docs/schemas/attribution.json
  src/apis/models/attribution.ts
Due: none

feat(sponsored-products-extra): amazon schema changes
  docs/schemas/sponsored-products-extra.json
  src/apis/clients/sponsored-products-extra-client.ts
  src/apis/models/base.ts
  src/apis/models/common.ts
  src/apis/models/configuration.ts
  src/apis/models/sponsored-products-extra.ts
Due: none

ci(api-generator): generator was only generating tests
  utils/api-generator.ts
Due: none

fix: fixed merge conflict typo
  utils/payload-interceptors.ts
Due: none

test: product eligibility verifcation tests added
  tests/integration/apis/clients/common-eligibility-client.spec.ts
Due: none

test: added testing for sponsored display client
  tests/integration/apis/clients/sponsored-display-client.spec.ts
  tests/integration/apis/clients/sponsored-products-client.spec.ts
Due: none

ci(generate-apis): changing checkout to develop
  .github/workflows/generate-apis.yml
Due: none

test: started adding testing for sponsored campaign creations rebased against sponsored product tests
  tests/integration/apis/clients/sponsored-products-client.spec.ts
Due: none

test: added testing for common creative assets endpoints
  tests/integration/apis/clients/common-creative-assets-client.spec.ts
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

Notes added by 'git notes add'
  a9e9e9607198ad1eb976fe20dddaeaebc1e70c85
Due: none

feat(throttling): implements feat: add the ability to throttle requests #30
  README.md
  package-lock.json
  package.json
  src/apis/models/attribution.ts
  src/apis/models/authorization-manager-account.ts
  src/apis/models/authorization-profiles.ts
  src/apis/models/brand-metrics.ts
  src/apis/models/common-audiences.ts
  src/apis/models/common-billing.ts
  src/apis/models/common-change-history.ts
  src/apis/models/common-creative-assets.ts
  src/apis/models/common-eligibility.ts
  src/apis/models/common-insights.ts
  src/apis/models/common-localization.ts
  src/apis/models/common-product-meta-data.ts
  src/apis/models/data-provider.ts
  src/apis/models/dsp-advertiser.ts
  src/apis/models/dsp-measurement.ts
  src/apis/models/dsp-reports.ts
  src/apis/models/dsp.ts
  src/apis/models/sponsored-brands-category-benchmark.ts
  src/apis/models/sponsored-brands-extra.ts
  src/apis/models/sponsored-brands-pre-moderation.ts
  src/apis/models/sponsored-brands-reports.ts
  src/apis/models/sponsored-brands-snapshots.ts
  src/apis/models/sponsored-brands-stores.ts
  src/apis/models/sponsored-brands.ts
  src/apis/models/sponsored-display-extra.ts
  src/apis/models/sponsored-display.ts
  src/apis/models/sponsored-products-extra.ts
  src/apis/models/sponsored-products.ts
  src/config.ts
  src/connectors/envoy-rate-limit.ts
  src/helpers.ts
  src/index.ts
  tests/unit/src/helpers.test.ts
  tests/unit/utils/model-generator.test.ts
  tests/unit/utils/replace-create-request-function.ts
  utils/model-generator.ts
  utils/replace-create-request-function.ts
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

test: adding unit and integration tests for ratelimiting and throttling
  README.md
  package.json
  src/config.ts
  src/connectors/envoy-rate-limit.ts
  src/helpers.ts
  tests/integration/apis/example.spec.ts
  tests/unit/src/helpers.test.ts
  tests/unit/utils/replace-create-request-function.ts
Due: markdownlint --ignore ./node_modules --ignore ./CHANGELOG.md ./, prettier --write, prettier-package-json --write --expand-users

chore: adding missing folders necessary for integration test
  docs/testing/integration/payloads/methods/.gitkeep
  docs/testing/integration/payloads/solution-provider-use-cases/.gitkeep
Due: none
